.menubutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-right: #e9e9e9 solid 2px;
    padding-left: 23px;
    padding-right: 23px;
}

.menubuttonUl {

    border-radius: 10px;
    background-color: #f4f4f4;
    border: #e9e9e9 solid 1px;
    padding-left: 20px;
    text-align: left;
}
.menubuttonUl a:hover{
    color: #0000ff;
}

.menubutton a {
    text-decoration: none;
    text-align: center;

}

.daily {
    border-bottom: #31b0d5 dashed 1px;
    padding-bottom: 10px;
    padding-top: 2.5%;
    font-size: 30px;

}

.mainCont {
    border-radius: 10px;
    background-color: #f4f4f4;
    border: #533fff solid 1px;
    padding-left: 1.5%;
    padding-right: 1.5%
}

.elementRight {
    display: block;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Monaco;
    font-size: 20px;
    margin-left: 10px;


}
.triangleright
{
    display: inline-block;
    margin-top: 3px;
    width: 17px;
    height: 17px;
}
.trianglebuttom{

}

.mainColumns {
    display: inline-block;
    padding-right: 10%;
    padding-left: 1%;

}
.mainColumns a{
    color: black;
}
.daily div.a{
    color: black;
}

.mainBottom {
    display: block;
    border-radius: 10px;
    background-color: #f4f4f4;
    border: #533fff solid 1px;
    padding-left: 1.5%;
    padding-right: 1.5%;

}

.rightMenu {
    vertical-align: bottom;
    margin-left: 3%     ;
    background-color: #627bcf;
    border-radius: 10px;
    margin-bottom: 4%;
    width: 230px;
}

.bottom {
    vertical-align: top;
    display: inline-block;
    width: 24%;
    padding-left: 0.5%;
    padding-top: 1%;
}
.bottomTitle
{
   font-size: 20px;
   border-bottom: 2px solid black;
   margin-bottom: 10px;
}

.bottomTitle_a
{
    margin-bottom: 1%;
    text-decoration: none;
}
.bottomTitle_a a{
    text-decoration: none;
    color: #533fff;
}
.calendarTR{
    text-align: center;
}
.sittingDay{
    background: #ff0000;
    color: #ffffff;
}
.otherEvents
{
    background: #0000ff;
    color: #ffffff;
}
.calendarTR td{
    width: 32px;
}

.bottom a:hover{
    color: #0000ff;
}
.mainCont a:hover{
    color: #0000ff;
}
.text{
    font-size: 20px;
    padding-bottom: 13px;
}
.mainCont a{
    color: black;
}


